{% extends "base.html" %}

{% block content %}
<h1>Kliento informacija</h1>

<p><strong>Klientas:</strong> {{ detalus.automobilis.klientas }}</p>
<p><strong>Automobilis:</strong> {{ detalus.automobilis.modelis }}</p>
<p><strong>Užsakymo registracijos data:</strong> {{ detalus.data }}</p>
<p><strong>Numatoma darbų atlikimo data:</strong> {{ detalus.grazinimo_terminas }}</p>
<p><strong>Statusas:</strong><span class="{% if detalus.statusas == 'L' %}text-danger{% elif detalus.statusas == 'V' %}text-warning{% elif detalus.statusas == 'A' %}text-success{% endif %}">
        {{ detalus.get_statusas_display }}</span>
<p><strong>Informacija:</strong> {{ detalus.automobilis.informacija | safe}}</p>
</p>

<h2>Užsakymo informacija</h2>
<ul>
    {% for eilute in eilutes %}
    <li>
        Paslauga: {{ eilute.paslauga.pavadinimas }} - Kiekis: {{ eilute.kiekis }} - Kaina: {{ eilute.paslauga.kaina }} EUR
    </li>
    {% endfor %}
</ul>
</br>
    <h4>Komentarai:</h4>
    {% if detalus.komentaras_set.all %}
      {% for kom in detalus.komentaras_set.all %}
        <hr>
        <strong>{{ kom.vartotojas }}</strong>, <em>{{ kom.data }}</em>
        <p>{{ kom.turinys }}</p>
      {% endfor %}
    {% else %}
      <p>Užsakymas neturi komentarų</p>
    {% endif %}

    {% if user.is_authenticated %}
      <div class="fieldWrapper">
        <hr><br/>
        <h4>Palikite Komentarai:</h4>
        <form action="" method="post">
          {% csrf_token %}
          {{ form.turinys }}</br>
          <input type="submit" value="Išsaugoti">
        </form>
      </div>
      {% endif %}
    {% endblock %}



