{% extends "base.html" %}

{% block content %}
<h1>Užsakymų sąrašas</h1>
<ol>
    {% for uzsakymas in uzsakymas_list %}
    <li>
        <img class="rounded-square img-small" src="{{uzsakymas.klientas.profilis.nuotrauka.url}}">
        <a href="{% url 'uzsakymas_detail' uzsakymas.pk %}">{{ uzsakymas.automobilis }}</a>
        {{ uzsakymas.data }} -
        <span class="{% if uzsakymas.statusas == 'L' %}text-danger{% elif uzsakymas.statusas == 'V' %}text-warning{% elif uzsakymas.statusas == 'A' %}text-success{% endif %}">
            {{ uzsakymas.get_statusas_display }}
        </span>
    </li>
    {% endfor %}
</ol>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
